@tailwind components;
@tailwind utilities;

/* Override base SVG style to work with Ant Design */
svg {
  vertical-align: initial;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body.dark::-webkit-scrollbar {
  color: rgb(229 231 235 / 100%);
}

#root {
  @apply fixed h-full w-full overflow-hidden;
}
